[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = experiment with api
[access "refs/*"]
	owner = group user/Tristan Bailey (tristanbailey)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Tristan Bailey (tristanbailey)
	label-Verified = -1..+1 group user/Tristan Bailey (tristanbailey)
	push = group user/Tristan Bailey (tristanbailey)
	read = group user/Tristan Bailey (tristanbailey)
	rebase = group user/Tristan Bailey (tristanbailey)
	removeReviewer = group user/Tristan Bailey (tristanbailey)
	submit = group user/Tristan Bailey (tristanbailey)
[access "refs/heads/*"]
	create = group user/Tristan Bailey (tristanbailey)
	push = +force group user/Tristan Bailey (tristanbailey)
	pushMerge = group user/Tristan Bailey (tristanbailey)
	read = group user/Tristan Bailey (tristanbailey)
[access "refs/tags/*"]
	push = group user/Tristan Bailey (tristanbailey)
	push = +force group user/Tristan Bailey (tristanbailey)
